* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  nav {
    position: sticky;
    top: 0px;
    height: 80px;
    background: #165b81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }
  
  .logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  .hero {
    background: white;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  .hero-image {
    width: 100%;
    height: 80%;
  }         
  .latest-movies{
    position: absolute;
    width:100%;
    height: 100%;
   background-color: white;
    margin-top: 100px;
    padding: 0px 20px;
}
.latest-movies h1{
    font-size: 20px;
    color:#165b81;
    
}
.latest-container{
    padding: 10px 0px;
}
.latest-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.latest-inside img{
    height: 350px;
    cursor: pointer;
    padding: 2px;
    transition: all 500ms ease-in-out;
}
.latest-inside img:hover{
    transform: scale(1.2);
}
.heading1{
    color: black;
    line-height: 1.5;
}
.heading1 h4{
    font-size: 15px;
}
.heading1 h6{
    font-size: 12px;
}
.btn2{
    margin-top: -30px;
    margin-left: 150px;
}
.btn2 a{
    font-size: 13px;
    text-decoration: none;
    background: #165b81;
    padding: 7px 7px;
    border-radius: 10%;
    color: white;

}
.latest-contain{
    padding: 10px 0px;
}
.latest-contain{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.paragraph p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    background: #165b81;
    padding:.5em;
    border-radius: 60px;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6rem 6rem 6rem 6rem;
    margin-left: 400px;
  }
  .accordion{ 
    margin: 60px auto; width: 600px;
  }
  .accordion li{ 
    list-style: none; 
    width: 100%; 
    margin: 20px; 
    padding: 10px;
     border-radius: 8px; 
     background: #e3edf7; 
     box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6рх 10px -1px rgba(255, 255, 255, 0.7);
  }

    .accordion li label{
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 18px; 
      font-weight: 500;
      cursor: pointer;
     } 
     label::before{
      content:'+';
      margin-right: 10px;
      font-size: 24px; 
      font-weight: 600;} 
    
    input [type="radio" ]( display: none; 46 ] 47 48 49 50 51 52 53 54 •accordion •content color: #555; padding: 0 10px; line-height: 26px;
  @media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }
